<section class="thin-div">
  <div class="center">Don’t Miss</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/soccer/heres-why-seattle-is-a-strong-candidate-to-be-a-host-city-for-the-2026-mens-world-cup/">
          <img src="./assets/dontmiss/story1.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/soccer/heres-why-seattle-is-a-strong-candidate-to-be-a-host-city-for-the-2026-mens-world-cup/">
            Here’s why Seattle is a strong candidate to be a host city for the 2026 men’s World Cup
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/sounders/joao-paulo-helped-the-injury-ravaged-sounders-stay-atop-the-mls-standings-this-season-now-hes-an-mvp-finalist/">
          <img src="./assets/dontmiss/story2.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/sounders/joao-paulo-helped-the-injury-ravaged-sounders-stay-atop-the-mls-standings-this-season-now-hes-an-mvp-finalist/">
            Joao Paulo helped the injury-ravaged Sounders stay atop the MLS standings this season. Now, he’s an MVP finalist.
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/sounders/you-know-fredy-montero-the-sounders-legend-and-all-time-leading-scorer-heres-his-story-off-the-pitch/">
          <img src="./assets/dontmiss/story3.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/sounders/you-know-fredy-montero-the-sounders-legend-and-all-time-leading-scorer-heres-his-story-off-the-pitch/">
            You know Fredy Montero, the Sounders legend and all-time leading scorer. Here’s his story off the pitch.
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/sounders/after-2-acl-injuries-in-4-years-jordan-morris-is-once-again-nearing-a-return-to-soccer-hes-learned-to-stay-positive-and-patient/">
          <img src="./assets/dontmiss/story4.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/sounders/after-2-acl-injuries-in-4-years-jordan-morris-is-once-again-nearing-a-return-to-soccer-hes-learned-to-stay-positive-and-patient/">
            Jordan Morris has learned about positivity, patience while recovering from second major knee injury
          </a>
        </div>
      </div>
    </div>

</section>
