<section class="thin-div">
  <div class="center">Don’t Miss</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/soccer/heres-why-seattle-is-a-strong-candidate-to-be-a-host-city-for-the-2026-mens-world-cup/">
          <img src="./assets/dontmiss/story1.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/soccer/heres-why-seattle-is-a-strong-candidate-to-be-a-host-city-for-the-2026-mens-world-cup/">
            Here’s why Seattle is a strong candidate to be a host city for the 2026 men’s World Cup
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/sounders/hell-be-ready-jordan-morris-eagerly-awaiting-monday-return-to-sounders-eight-months-after-tearing-acl/">
          <img src="./assets/dontmiss/story2.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/sounders/hell-be-ready-jordan-morris-eagerly-awaiting-monday-return-to-sounders-eight-months-after-tearing-acl/">
            ‘He’ll be ready’: Jordan Morris eagerly awaiting Monday return to Sounders, eight months after tearing ACL
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/photos-sounders-at-lafc/">
          <img src="./assets/dontmiss/story3.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/photos-sounders-at-lafc/">
            Photos: Sounders at LAFC
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/sounders/sounders-focused-on-fixing-defensive-breakdowns-during-final-push-to-clinch-top-mls-playoff-seed/">
          <img src="./assets/dontmiss/story4.jpg"></img>
        </a>
        <div class="small">Sports</div>
        <div>
          <a href="https://www.seattletimes.com/sports/sounders/sounders-focused-on-fixing-defensive-breakdowns-during-final-push-to-clinch-top-mls-playoff-seed/">
            Sounders focused on fixing defensive breakdowns during final push to clinch top MLS playoff seed
          </a>
        </div>
      </div>
    </div>

</section>
