<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/9d53be7224.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child class="body">
       <%= t.include("partials/_nav.html") %>
      <!-- content goes here -->
      <!-- <div class="field">
        <img src="assets/SoccerFieldGoals.svg">
      </div> -->
      <div class="intro">
        <h1>Soccer goals project</h1>
        <p class="byline">By Sean Quinton</p>
        <p class="staff-position">Seattle Times staff reporter</p>
        <p class="publish-date">Published Oct. 10, 2021</p>
      </div>

      <div id="body">

      <div class="field-desktop">
        <img src="assets/Soccer-field-desktop3.png">
        <!-- <img class="overlay" src="assets/SoccerFieldGoals3.svg"> -->
        <div class="overlay">
          <% json.Test.forEach(function(game, i) { %>
            <div data-dot="<%= game.ID %>" class="dot" style="position: absolute; left:<%= game.Left_per - 1 %>%; top:<%= game.Top_per - 1.5 %>%;">
              <!-- <i class="fas fa-futbol"></i> -->
              <img src="../assets/Soccer-x.png">
            </div>
          <% }); %>
        </div>
      </div>

      <div class="field-mobile">
        <img src="assets/Soccer-field-mobile3.png">
        <!-- <img class="overlay turnme" src="assets/SoccerFieldGoals.svg"> -->
        <img class="overlay turnme" src="assets/SoccerFieldGoals3.svg">
        <div class="overlay">
          <% json.Test.forEach(function(game, i) { %>

            <div data-dot="<%= game.ID %>" class="dot" style="position: absolute; left:<%= game.Top_per - 2 %>%; bottom:<%= game.Left_per - 1 %>%;">
              <img src="../assets/Soccer-x.png">
            </div>
          <% }); %>
        </div>
      </div>

      <div class="text">
        <% json.Test.forEach(function(game, i) { %>
          <div class="game" data-game="<%= game.ID %>">
            <div class="date"><%= game.Date %></div>

            <div class="match"><%= game.Match %></div>

            <div class="score"><%= game.Result %></div>

            <div class="shots">
              Raúl Ruidíaz scores a goal with his <span><%= game.Type %></span> in minute <span><%= game.Minute %></span> of the game

              He had a <span><%= game.ExpectedGoalPer %></span> chance of making the goal
            </div>
            <div class="tweet">
              <blockquote class="twitter-tweet"><p lang="es" dir="ltr">RAÚL 👏 RUIDÍAZ 👏 <a href="https://t.co/8LxjmkVP2E">pic.twitter.com/8LxjmkVP2E</a></p>&mdash; Seattle Sounders FC (@SoundersFC) <a href="https://twitter.com/SoundersFC/status/1437996888007999489?ref_src=twsrc%5Etfw">September 15, 2021</a></blockquote>
            </div>
          </div>
        <% }); %>
      </div>

       <%= t.include("partials/_navBottom.html") %>
     </div>
    </responsive-child>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
